.wrapper {
    max-width: 1366px;
    margin: 0 auto;
    font-family: $helve;
}

h1, h2, h3, li, span, p, button {
	font-family: $helve;
}

a {
  color: inherit;
  text-decoration: none;
}

img {

}

.only_mobile {
  @include tablet {
      display: none !important;
  }
 }

